.wrapper
  .header
    .logo
      YT Context
    .phone
      8 800 200 6000

.wrapper
  .intro
    .descriptor
      Настройка рекламных компаний
      %br
      в Яндекс Директ и Google Adwords


.wrapper
  .about
    -#.section-title Кто я
    .video
      %iframe{src: '//www.youtube.com/embed/1MWp1MSu6LY?rel=0&enablejsapi=1',
                            width: 853,
                            height: 480, frameborder: 0}


.wrapper
  .form
    .form-header
      Оставьте заявку, чтобы получить консультацию
    .form-body
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона'}
      %button.send-order.inline-form{goal: 'order1'}
        Отправить заявку


.wrapper
  .about1
    .section-title
      Как я работаю

  .blocks
    .block

      .block-icon
        %img{src: '/images/icon-chart.png'}

      .block-header
        Аналитика
      .block-content
        Я анализирую ваш бизнес, составляю семантическое ядро, делаешь еще что-то

    .block

      .block-icon
        %img{src: '/images/icon-like.png'}

      .block-header
        Подбор слов
      .block-content
        Я подбираю столько слов, сколько необходимо для эффективной работы рекламной кампании

    .block

      .block-icon
        %img{src: '/images/icon-pen.png'}

      .block-header
        Написание объявлений
      .block-content
        Я пишу одно объявление под каждую подобранную фразу. Таким образом достигается максимальный CTR

    .block

      .block-icon
        %img{src: '/images/icon-magnifier.png'}

      .block-header
        Различные типы компаний
      .block-content
        Разделение одной кампании на горячую, теплую и холодную позволяет оптимизировать затраты и поднять CTR

    .block

      .block-icon
        %img{src: '/images/icon-retweet.png'}

      .block-header
        Ретаргетинг
      .block-content
        Хитрый трюк, который позволяет возвращать вам ваших посетителей за копейки.

    .block

      .block-icon
        %img{src: '/images/icon-shuffle.png'}

      .block-header
        Поиск / Сеть
      .block-content
        Я создаю отдельные кампании для поиска и сети. Это позволяет существенно экономить бюджет.


.wrapper
  .price-block
    .price
      15 000 рублей

    .price-about
      Стоимость настройки любой рекламной кампании



.wrapper
  .schema
    .section-title
      Как проходит сотрудничество

  .steps
    .step
      .step-number
        1
      .step-content
        Мы заключаем договор, я делаю рекламную кампанию, вы оплачиваете.

    .step
      .step-number
        2
      .step-content
        В течение месяца я веду вашу кампанию, вношу необходимые правки, выкручиваю показатели.

    .step
      .step-number
        3
      .step-content
        Раз в неделю я высылаю вам полный отчет по статистике и потраченному бюджету.

    .step
      .step-number
        4
      .step-content
        Через месяц мы можем заключить договор на дальнейшее ведение вашей рекламной кампании.


.wrapper
  .form
    .form-header
      Оставьте заявку, чтобы получить консультацию
    .form-body
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона'}
      %button.send-order.inline-form{goal: 'order1'}
        Отправить заявку


.wrapper
  .section-title
    Мои клиенты

  .clients
    .client.agatov
      %img{src: '/images/video_case.jpg'}
      .client-name
        Кирилл Агатов
      .client-desc
        Великий и ужасный властелин шмарин

    .client.tishkin
      %img{src: '/images/video_case.jpg'}
      .client-name
        Константин Тишкин
      .client-desc
        Анальный покоритель вероятных трансветитов



.wrapper
  .footer
    Всегда буду рад работать с вами. С уваженим, Ярослав Тверской.


.video-modal-bg
.video-modal



%script#agatov-video{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/hVwUUgdF2-k?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}

%script#tishkin-video{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/j7kxijxrjgw?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}